<%- include("./partials/header") %> 
<%- include("./partials/nav") %> 

<div class="loginSection">
    <h1>Welcome back</h1>
    <a href="/auth/facebook">Log in with <i class="fab fa-facebook"></i></a>
</div>

<%- include("./partials/footer") %> 