html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #efefefab;
}

/* re-useable component */
.container{
    width: 90%;
    margin: 0 auto;
}

/* ================ */
/* Navigation */
/* ================ */

header{
    width: 100%;
    background-color: #e3e3e3;
}

nav{
    max-width: 1140px;
    margin: 0 auto;
}

.brand{
    padding: 10px 10px 10px 0;
}

.brand h2{
    margin: 0;
}

.brand h2 a:hover{
    background-color: transparent;
}


ul{
    margin: 0;
    display: flex;
    padding: 0;
}

ul li{
    list-style-type: none;
    padding: 15px;
}

.login_btn{
    margin-left: auto;
    display: flex;
}

ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: 105%;
    color: #000;
}

ul li a:hover {
    background-color: #d0d0d0;
}

/* ================ */
/* Login Section */
/* ================ */
.loginSection{
    width: 400px;
    padding: 40px 20px 50px 20px;
    margin: 5rem auto 0 auto;
    border: 1px solid #777;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #666;
    text-align: center;
}

.loginSection h1{
    margin: 0 0 2rem 0;
}

.loginSection a:link,
.loginSection a:visited{
    color: #fff;
    background-color: #3b5999;
    font-size: 107%;
    text-decoration: none;
    border: 1px solid #3b5999;
    border-radius: 3px;
    padding: 7px 15px;
}

.loginSection a:hover,
.loginSection a:active{
    background-color: #224694;
}

.loginSection a i{
    font-size: 108%;
    padding-left: 5px;
}


/* ================ */
/* Profile card */
/* ================ */
.profile_card{
    width: 320px;
    height: auto;
    margin: 2rem auto;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.profile_img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}